*{
    margin: 0;
    padding: 0;
}




#features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fecture-col{
    flex-basis: 25%;
    text-align: center;
}
.fecture-col img{
    width: 700px;
}
.fecture-col h4{
    margin-bottom: 15px;
    font-size: 20px;
}
.feature-btn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.feature-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}